<table id="eta_logs_table" class="table table-striped">
  <thead>
  <tr>
    <th>Message</th>
    <th>Log time</th>
  </tr>
  </thead>
  <tbody>
  <% if @logs.blank? %>
    <tr class="no-records-found">
      <td colspan="2" class="text-muted text-center">No records have been logged</td>
    </tr>
  <% else %>
    <% @logs.each do |log| %>
      <%= render 'log', log: log %>
    <% end %>
  <% end %>
  </tbody>
</table>
